<p id="notice"><%= notice %></p>

<p>
  <strong>Bora:</strong>
  <%= image_tag @idea.image.url(:medium) %>
  <%= @idea.description %>
</p>

<% if @idea.user == current_user %>
	<%= link_to 'Editar', edit_idea_path(@idea) %> |
<% end %>

	<%= link_to 'Voltar', ideas_path %>
