<strong><%= link_to 'Voltar', ideas_path %></strong> 
<br>
<br>
	
	<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-default">
					<div id="show-user" align="center" class="panel-footer">
			  			<div style="width: 100%; display: table;">	
			  				<div style="display: table-row">
        					<div align="left" style="display: table-cell;"> 
        						<span id="user-gliph-footer" class="glyphicon glyphicon-user"></span>
			  							<%= link_to @idea.user.full_name %> 
			  					</div>
			  					<% if current_user == @idea.user %>
	        					<div align="right" style="display: table-cell;"> 
	        						<%= link_to @idea, method: :delete, data: { confirm: 'Tem certeza que deseja apagar sua ideia?' } do %>
				  							<span id="trash-gliph-footer" class="glyphicon glyphicon-trash"></span>
				  						<% end %> 
				  					</div>
				  				<% end %>	
			  				</div>
			  			</div>
			  	</div>
					<div class="panel-body center">
						
						<h2><%= @idea.description %></h2>
						<% if @idea.user == current_user %>
							
								<%= link_to 'Editar ideia', edit_idea_path(@idea) %>
						
						<% end %>
					</div>

			  	
			  	<div id="show-img" align="center" class="img-responsive">
			  		<%= image_tag @idea.image.url(:medium)%>
			  		<br>
			  		<br>
				  	<div class="btn-group">
					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-road"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></button>

						</div>
						<br>
					  <br>
					</div>
				</div>
			</div>
	</div>


<div align="center">
  <h4><strong>Bora?</strong></h4>
  
  <div class="btn-group">
  	<button id="sim" type="button" class="btn btn-success">Partiu <br><span class="glyphicon glyphicon-ok"></span></button>
  	<button id="talvez" type="button" class="btn btn-default">Talvez <br><span class="glyphicon glyphicon-minus"></span></button>
  	<button id="nao" type="button" class="btn btn-danger">Nem dรก <br><span class="glyphicon glyphicon-remove"></span></button>
	</div>
</div>
<br>
<br>
