<!DOCTYPE html>
<html>
<html xmlns='http://www.w3.org/1999/xhtml' 
      xmlns:og='http://ogp.me/ns#'>
      <meta property='og:title' content='#{<%= @idea.description %>}' />
      <meta property='og:description' content='#{<%= @idea.lead %>}' />
      <meta property='og:url' content='http://http://www.boraapp.com' />
      <meta property='og:image' content='#{<%= image_tag @idea.image.url(:medium)%>}'>
      <meta property='og:type' content='website' />
      <meta property='og:site_name' content='Bora' />
<head>
  <title>Bora</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
</head>
<body>

<%= render 'layouts/header' %>
<div id="alerts" class="container">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= yield %>
</div>

</body>
</html>
